<h1><%= game.name %></h1>

<p>Release Year: <%= game.first_release_date %></p>

<p>Platforms: <%= game.platforms %></p>

<div>
<form method='GET' action="/game/edit/<%= game.id %>">  
           <input type="submit" id="button" value="Edit Details">
</form>

<form method='POST' action="/game/<%= game.id %>?_method=DELETE">
           <input type="hidden" name="name" value='<%= game.name%>'>
           <input type="submit" id="button" value="Delete Game">
</form>
</div>

<hr />

<a href="/game">&larr; Back to Games </a>
