<h2>Game Details</h2>
<div>Title: <%= game.name %> </div>
<div>Release Date: <%= game.first_release_date %> </div>
<div>Platforms: <%= game.platforms %> </div>

<h3>Update Game Info</h3>
<form action="/game/edit/<%= game.id%>?_method=PUT" method="post">
    <label for="name">Title:</label>
    <input type="text" name="name" id="name" value='<%= game.name %>' required>
    <label for="first_release_date">Release Date:</label>
    <input type="text" name="first_release_date" id="first_release_date" value='<%= game.first_release_date %>'>
    <label for="platforms">Platforms:</label>
    <input type="text" name="platforms" id="platforms" value='<%= game.platforms %>'>
    <input type="submit" value="Save Changes">
</form>